.jasmine_html-reporter {
	display: none;
}
html {
	height: 100vh;
	overflow: hidden;
}
canvas#canvgCanvas {
	display: none;
}
body {
	padding: 0;
	margin: 0;
	height: 100%;
}
.app {
	height: 100%;
}

.page {
	position: absolute;
	width: 100%;
	height: 100%;
	flex-direction: column;
	background-color: #f8f8f8;
	font-color: #111111;
	display: none;
	justify-content: start;
}
.pageTitle {
	text-align: center;
	font-size: 20px;
	padding: 5px;
	border-bottom: 1px solid #aaaaaa;
	padding-top: 5px;
	margin-bottom: 10px;
	flex: 0 0 auto;
}
.pageContainer {
	flex: 1 1 auto;
	width: 100%;
	height: 100%;
	flex-direction: row;
	display: flex;
	justify-content: center;
}
.pageNav {
	margin-top: 5px;
	padding-top: 5px;
	border-top: 1px solid #aaaaaa;
}
.pageNav > .buttons {
	margin-bottom: 5px;
}

.app#nojs > .page:nth-child(2) {
	display: flex;
}
.app#intro > .page:nth-child(3) {
	display: flex;
}
.app#single > .page:nth-child(4) {
	display: flex;
}
.app#multi > .page:nth-child(5) {
	display: flex;
}

.topUI {
	width: 0px;
	flex: 1 1 auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: stretch;
	padding: 0 10px 0 10px;
	position: relative;
}
.topUI.limitWidth {
	border-left: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
	max-width: 700px;
}
#left {
	/*background-color: red;*/
	border-right: 1px solid #aaaaaa;
}
#right {
	/*background-color: blue;*/
}
.topUI > .title {
	text-align: center;
	font-size: 20px;
	padding: 5px;
	border-bottom: 1px solid #111111;
	padding-top: 0px;
	margin-bottom: 10px;
}

.title.gotoView {
	border: 1px solid #111111;
	border-radius: 5px;
	cursor: pointer;
	padding-top: 5px;
}
.title.gotoView::selection {
	background-color: transparent;
}
.title.gotoView::moz-selection {
	background-color: transparent;
}
.title.gotoView:hover {
	background-color: rgba(0,0,0,0.1);
}
.title.gotoView:active {
	background-color: rgba(0,0,0,0.2);
}

/*.title:first-child {
	padding-top: 5px;
}*/

.info {
	margin-bottom: 10px;
}

.code {
	height: 0;
	padding: 5px;
	flex: 1 1 auto;
	box-sizing: border-box;
	font-size: 16px;
	width: 100% !important;
	font-family: monospace;
	border: 1px solid #111111;
	margin-bottom: 10px;
	border-radius: 5px;
	outline: 0;
	overflow-wrap: break-word;
	overflow: auto;
	color: #111111;
}
#svgCodeInput:focus {
	padding: 4px;
	border: 2px solid #dd0000;
}
#jsCodeOutput:focus {
	padding: 4px;
	border: 2px solid #0000dd;
}
.buttons {
	display: flex;
	width: 100%;
	flex: 0 0 auto;
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}
.button {
	flex: 0 0 auto;
	text-align: center;
	align-self: center;
	min-width: 100px;
	min-height: 16px;
	max-width: 100px;
	max-height: 16px;
	font-size: 16px;
	padding: 4px;
	border: 1px solid #111111;
	cursor: pointer;
	border-radius: 5px;
	z-index: 10;
}
.button.dynamic {
	min-width: 0px;
	max-width: 0px;
	max-width: 200px;
	max-height: 50px;
}
.button.largeWidth {
	min-width: 200px;
	max-width: 200px;
}
#left > .button.gotoView {
	left: 5px;
}
#right > .button.gotoView {
	right: 5px;
}
.button:not(:last-child) {
	margin-right: 10px;
}
.button::selection {
	background-color: transparent;
}
.button::moz-selection {
	background-color: transparent;
}
.button:hover {
	background-color: rgba(0,0,0,0.1);
}
.button:active {
	background-color: rgba(0,0,0,0.2);
}
.outputContainer {
	width: 100%;
	height: 0;
	flex: 1 1 auto;
	overflow: auto;
}

#fileList {
	width: 100%;
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	justify-content: flex-start;
	padding-bottom: 2px;
	margin-bottom: 10px;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
	overflow-y: scroll;
}
#fileListKey {
	height: 1em;
	margin: 0;
	margin-bottom: 12px;
	white-space: pre-wrap;
}
#fileListKey1 {
	background-color: #bb00bb;
}
#fileListKey2 {
	background-color: #ff0000;
}
#fileListKey3 {
	background-color: #ffff00;
}
#fileListKey4 {
	background-color: #00ff00;
}
.file {
	width: 100%;
	margin-top: 5px;
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
}
.fileSelected {
	flex: 0 0 auto;
}
.fileRow {
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
}
.file:not(.headers) > .fileSelected:checked + .fileRow {
	background-color: #F0E68C;
}
.fileSpacer {
	padding: 3px 1em 3px 1em;
	font-family: monospace;
}
.fileSVG, .fileJS {
	width: 0px;
	flex: 1 1 auto;
	overflow: hidden;
	font-family: monospace;
	background-color: transparent;
}
.fileSVG {
	padding: 3px 0 3px 0;
}
.fileJS {
	border: 1px solid #aaaaaa;
	padding: 2px 0 2px 0;
}
.headers .fileJS {
	border: 1px solid transparent;
}
.errorFile {
	opacity: 0.5;
	width: 100%;
	margin-top: 5px;
	flex: 0 0 auto;
	display: flex;
	flex-direction: row;
}
.errorFile > .fileSelected {
	opacity: 0;
	cursor: inherit;
}
